@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Titulo"]</title>
</head>
<body>
    <div>
        <h1>@ViewData["Titulo"]</h1>
    </div>
</body>
</html>